<div class="header">
    <div class="headerContent">
        <div class="logo">
            <a href="/index"><img src ="~/images/LogoWhite.svg" class="logoBlackandWhite"/></a>
        </div>
        <nav>
            <ul>
                <li><a class="gamingPc">Gaming Pc</a></li>
                <li><a class="officePc">Office Pc</a></li>
                <li><a class="kabel">Kabel</a></li>
            </ul>
        </nav>
        <div class="profile">
            <a href="/Account/login"><img src="~/images/profilePictureWhite.svg" class="profileBlackandWhite"/></a>
        </div>
    </div>
    <div class="partingLineHorizontal">
        
    </div>
</div>
